.checkout_ontainer {
  margin: 22vh 0 0 0;
}

.checkout_image {
  max-width: 200px;
  max-height: 200px;
}

.cart_button {
  padding: 0.8rem 1.2rem;
  background-color: #1f7bdd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.sheckout_item {
  border: 1px solid rgba(57, 56, 56, 0.4);
  margin-bottom: 1.2rem;
  padding: 0.8rem;
}
