.slideshow {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 12rem;
  /* padding-left: 6rem; */
  margin-left: 10vw;

  .slide {
    width: 90vw;
    height: auto;
    scroll-snap-align: start;
    img {
      height: 70vh;
      border-radius: 4px;
    }
  }
}
