.product-view-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  gap: 2rem;
  margin: 2.4rem;
}

.product-view-image {
  max-width: 500px;
  height: auto;
  border-radius: 4px;
}
