.header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--brand-color1);
  color: white;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px var(--bg-color1) solid;
}

.branding-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.logo {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--bg-color1);

  .leaf_logo {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 40px;
    height: 40px;
    fill: var(--brand-color2);
  }
}

h1 {
  color: white;
  font-family: Charm;
  font-weight: 400;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-right: 4vw;

  .nav_link {
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 0.4rem 1.2rem;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
  }

  .nav_link:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.7);
  }

  .nav_link:active {
    color: var(--brand-color1);
    background-color: rgba(255, 255, 255, 0.7);
  }

  .nav_link_active {
    border: 2px solid rgba(255, 255, 255, 0.9);
  }
}

@media (width < 750px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    height: 18vh;
    padding: 0;
  }
  .branding-div {
    margin-right: 2em;
    width: auto;
  }
  nav {
    margin-top: 0;
    width: auto;
  }
}

@media (width < 450px) {
  h1 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .nav {
    .nav_link {
      font-size: 0.8rem;
      padding: 0.2rem 0.4rem;
      margin-top: 0.2rem;
    }
  }
  .branding-div {
    margin-top: 0.2rem;
  }
}

@media (width < 350px) {
  h1 {
    font-size: 1.2rem;
  }
}
