header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--brand-color1);
  color: white;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px var(--bg-color1) solid;
}

.branding-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.logo {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--bg-color1);

  .leaf_logo {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 40px;
    height: 40px;
    fill: var(--brand-color2);
  }
}

h1 {
  color: white;
  font-family: Charm;
  font-weight: 400;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-right: 4vw;

  .link {
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 0.4rem 1.2rem;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
  }

  .link:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.7);
  }

  .link:active {
    color: var(--brand-color1);
    background-color: rgba(255, 255, 255, 0.7);
  }

  .link_active {
    border: 2px solid rgba(255, 255, 255, 0.9);
  }
}
