.slideshow {
  height: 70vh;
  width: auto;
  margin: auto;
  margin-top: 10vh;
}

.slide {
  position: relative;
  width: 100%;
  max-height: 80vh;
  scroll-snap-align: start;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease-in-out;

  .heroImage {
    position: absolute;
    top: 0;
    left: 17vw;
    max-width: 60vw;
    max-height: 70vh;
    border-radius: 2px;
    align-self: center;
    box-shadow: -2px -2px 1px rgba(106, 106, 106, 0.1);
  }
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.div0 {
  z-index: -1;
  position: absolute;
  top: -26px;
  left: 14%;
  height: 28vw;
  width: 32vw;
  background-color: rgb(33, 189, 166);
}

.div1 {
  z-index: -1;
  position: absolute;
  top: -26px;
  left: 14%;
  height: 28vw;
  width: 32vw;
  background-color: rgb(189, 101, 0);
}

.div2 {
  z-index: -1;
  position: absolute;
  top: -26px;
  left: 14%;
  height: 28vw;
  width: 32vw;
  background-color: rgb(242, 213, 81);
}

.p0 {
  font-size: 1.6rem;
  color: white;
  padding: 1.2rem 4rem 1.2rem 4rem;
  position: absolute;
  top: 26vw;
  right: 10%;
  background-color: rgb(33, 189, 166);
}

.p1 {
  font-size: 1.6rem;
  color: white;
  padding: 1.2rem 4rem 1.2rem 4rem;
  position: absolute;
  top: 26vw;
  right: 10%;
  background-color: rgb(189, 101, 0);
}

.p2 {
  font-size: 1.6rem;
  color: white;
  padding: 1.2rem 4rem 1.2rem 4rem;
  position: absolute;
  top: 26vw;
  right: 10%;
  z-index: 1;
  background-color: rgb(242, 213, 81);
}
