.slideshow {
  height: 90vh;
  width: 100%;
  margin: auto;
  margin-top: 19vh;
  background-color: var(--bg-color1);
}

.heroImage-wrapper {
  z-index: 0;
  position: relative;
}

.slide {
  z-index: 1;
  width: 100%;
  max-height: 80vh;
  scroll-snap-align: start;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease-in-out;
}

.heroImage {
  z-index: 3;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 2px;
  align-self: center;
  box-shadow: -2px -2px 1px rgba(106, 106, 106, 0.1);
  background-color: transparent;
}

.fade-in {
  opacity: 1;
  background-color: transparent;
}

.fade-out {
  opacity: 0;
  background-color: transparent;
}

.div0 {
  z-index: -1;
  position: absolute;
  top: -22px;
  left: -22px;
  height: 28vw;
  width: 32vw;
  background-color: rgb(33, 189, 166);
}

.div1 {
  z-index: -1;
  position: absolute;
  top: -22px;
  left: -22px;
  height: 28vw;
  width: 32vw;
  background-color: rgb(189, 101, 0);
}

.div2 {
  z-index: -1;
  position: absolute;
  top: -22px;
  left: -22px;
  height: 28vw;
  width: 32vw;
  background-color: rgb(242, 213, 81);
}

.p0 {
  font-size: 1.6rem;
  color: white;
  padding: 1.2rem 4rem 1.2rem 4rem;
  position: absolute;
  bottom: 12px;
  right: -50px;
  background-color: rgb(33, 189, 166);
}

.p1 {
  font-size: 1.6rem;
  color: white;
  padding: 1.2rem 4rem 1.2rem 4rem;
  position: absolute;
  bottom: 12px;
  right: -50px;
  background-color: rgb(189, 101, 0);
}

.p2 {
  font-size: 1.6rem;
  color: white;
  padding: 1.2rem 4rem 1.2rem 4rem;
  position: absolute;
  bottom: 12px;
  right: -50px;
  background-color: rgb(242, 213, 81);
}
